/* Réinitialisation des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#banner {
    background-image: url('voitures.jpg'); /* Remplacer 'voitures.jpg' par le chemin de votre image de bannière */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

#banner h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d1480f;
}

#featured-cars {
    padding: 50px 20px;
}

#featured-cars h2 {
    text-align: center;
    margin-bottom: 20px;
}

#about {
    background-color: #f0f0f0;
    padding: 50px 20px;
}

#about h2 {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}